*{
    padding: 0;
    margin: 0;
    
}
header {
    max-width: 1300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    background-color:#333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(189, 189, 189);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.Cuerpo{
    max-width: 1300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    line-height: 30px;
    background-color: #cccccc;
    opacity: 80%;
}   
    

h1 {
    text-align: center;
    font-size: 50px;
    background-color: #333;
    margin-bottom: 50px;
    
}

h2 {
    text-align: center;
        font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
        text-transform: uppercase;
    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
    }
    
 h2:after,h2:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #333;
        border-top: 1px solid #333;
        height: 5px;
      background-color:#f8f8f8;
    }

.Titulares {
    padding: 10px;

}

.Novedad {
    padding: 10px;

}

.Youtube {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Produccion {
    padding: 10px;
}




body {
    background-color: #cccccc;
   }


.Logo img {

    width: 50%;
}

.Logo img:first-child {
    margin-right: auto;
    margin-left: auto;

}






footer{
    max-width: 1300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
    background-image: url('Imagenes/logo_chico.jpg');
    background-size: cover;
    background-color: black;
    opacity: 80%;
}

.Container_Footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.Foot {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.Info_Foot{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.Foot h3{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
    text-align: center;
}

.Foot a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.Foot a:hover{
    opacity: 0.8;
}

.Foot a .Redes_Sociales{
    font-size: 20px;
}

.Foot .Redes_Sociales img{
    width: 50px;
}

.Nombre_Alumno{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.Nombre_Alumno p{
    margin-top: 20px;
    color: #7a7a7a;
}

.Nombre_Alumno hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

.Cuerpo_Contacto {
    max-width: 1300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    line-height: 30px;
    opacity: 80%;
}

.Formulario {
    margin-top: 5%;
    margin-bottom: 5%;
}

.Formulario h3 {
    text-align: center;
        font-size:30px; font-weight:300; color: white; letter-spacing:1px;
        text-transform: uppercase;
        max-width: 600px;
        background-color: #e74c3c;
        margin: auto;
    
}

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
 }

 input, textarea {
    border: 0 ; 
    outline: 0 ;
    padding: 1em ;
    display: block ;
    width: 90% ;
    margin-top: 1em ;
    resize: none;  
 }
 
 #input-enviar {
    color: white; 
    background: #e74c3c;
    cursor: pointer;
   
 }
 
 
 textarea {
     height: 126px;
 }

 .Mitad {
   float: left;
   width: 48%;
   margin-bottom: 1em;
 }
 
 .Derecha { width: 50%; }
 
 .Izquierda {
      margin-right: 2%; 
 }

 @media (max-width: 576px) {
    .Mitad {
       width: 100%; 
       float: none;
       margin-bottom: 0; 
    }
  }


.Cuerpo_Notas {
    max-width: 1300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    line-height: 30px;
    opacity: 80%;
}

.rottentomatoes {
    background-color: #cccccc;
    max-width: 1300px;
    width: 90%;
}

.rottentomatoes_img {
    text-align: center;

    width: 90%;
    margin-bottom: 5%;
}

.sensacine {
    background-color: #cccccc;
    max-width: 1300px;
    width: 90%;
}

.sensacine_img {
    text-align: center;

    width: 90%;
    margin-bottom: 5%;
}

.google {
    background-color: #cccccc;
    max-width: 1300px;
    width: 90%;
}

.google_img {
    text-align: center;

    width: 90%;
    
}

.Notas img:first-child {
    margin-right: auto;
    margin-left: auto;
    
}

.Notas img {

    width: 70%;
}

.Extras_Notas {
    display: flex;
    padding: 40px;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
}

.Extras_Notas img {

    width: 50%;
}

.Extras_Notas img:first-child {
    margin-right: auto;
    margin-left: auto;

}

.Extras_Notas .FA {
margin-right: 10%;
margin-left: 10%;

}

.Extras_Notas .IMDb {
    margin-right: 10%;
    margin-left: 10%;
    
    }

.Extras_Notas .Metacritic {
   margin-right: 10%;
    margin-left: 10%;
        
}


.Cuerpo_Personajes {
    max-width: 1300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    line-height: 30px;
    opacity: 80%;
}

.Cuerpo_Personajes h2{
    color: white;
}

.Geralt {
    width: 70%;
    margin: auto;
    background-color:#222;
    color: #fff;
    padding: 15px;
    margin-bottom: 5%;
  }

  .Geralt img{
    width: 13%;
    float: left;
  }

.Ciri {
    width: 70%;
    margin: auto;
    background-color:#222;
    color: #fff;
    padding: 15px;
    margin-bottom: 5%;
  }


  .Ciri img{
    width: 13%;
    float: right;
  }



.Yennefer {
    width: 70%;
    margin: auto;
    background-color:#222;
    color: #fff;
    padding: 15px;
    margin-bottom: 5%;
  }


  .Yennefer img{
    width: 13%;
    float: left;
  }

.Triss {
    width: 70%;
    margin: auto;
    background-color:#222;
    color: #fff;
    padding: 15px;
    margin-bottom: 5%;
  }


  .Triss img{
    width: 13%;
    float: right;
  }

.Cuerpo_Temporadas {
    max-width: 1300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    line-height: 30px;
    opacity: 80%;
}

.Temporada_1 {
    background-color: #cccccc;
    max-width: 1300px;
    width: 90%;
    margin-bottom: 5%;
}

.Temporada_Imagen1 img{

    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.parrafo {

    margin-top: 1%;
}

.Temporada_2 {
    background-color: #cccccc;
    max-width: 1300px;
    width: 90%;
    margin-bottom: 5%;
}


.Spoiler {
    background-color: #cccccc;
}

.Spoiler img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.Aceptar_Rechazar {
    display: flex;
    padding: 40px;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    background-color: #cccccc;
}

.Aceptar_Rechazar img:first-child {
    margin-right: auto;
    margin-left: auto;
}

.Aceptar_Rechazar img {

    width: 50%;
}

.Aceptar_Rechazar .Aceptar {
    margin-right: 10%;
    margin-left: 30%;
    width: 10%;
}

.Aceptar_Rechazar .Rechazar {
    margin-right: 10%;
    margin-left: 10%;
    width: 10%;

}


.lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{width:100%;z-index:10000;font-weight:400;outline:0}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-outerContainer:after{content:"";display:table;clear:both}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}



.img_Kaer_Morhen {
    display: flex;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    background-color: #cccccc;
}

.img_Kaer_Morhen img:first-child {
    margin-right: auto;
    margin-left: auto;
}

.img_Kaer_Morhen img {

    width: 90%;
}

.Gale_img1 {

    margin-left: 5%;
}

.Gale_img2 {

    margin-left: 5%;
}

.Gale_img3 {

    margin-left: 5%;
}

.Gale_img4 {

    margin-left: 5%;
}


.img_Personajes_Secundarios {

    display: flex;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    background-color: #cccccc;

}

.img_Personajes_Secundarios img:first-child {
    margin-right: auto;
    margin-left: auto;
}

.img_Personajes_Secundarios img {

    width: 90%;
}


.img_Geralt {

    display: flex;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    background-color: #cccccc;

}

.img_Geralt img:first-child {
    margin-right: auto;
    margin-left: auto;
}

.img_Geralt img {

    width: 90%;
}

.img_Ciri {

    display: flex;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    background-color: #cccccc;

}

.img_Ciri img:first-child {
    margin-right: auto;
    margin-left: auto;
}

.img_Ciri img {

    width: 90%;
}

.img_Yennefer {

    display: flex;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    background-color: #cccccc;

}

.img_Yennefer img:first-child {
    margin-right: auto;
    margin-left: auto;
}

.img_Yennefer img {

    width: 90%;
}


.img_Triss {

    display: flex;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-bottom: 5%;
    background-color: #cccccc;

}

.img_Triss img:first-child {
    margin-right: auto;
    margin-left: auto;
}

.img_Triss img {

    width: 90%;
}